body{
    background-image: url("1069537.png");
    
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}
#form{
  background-color: rgba(8, 92, 92, 0.322) ;  
    border: 2px solid black;
    border-radius: 20px;
  width: 75%;
  margin: auto;
  padding-left: 20px;
  padding-bottom: 20px;
  height: 550px;
  color: white
    
  
}
#form{
    opacity: 0.8;
}
h1{
    text-align: center;
    font-family: 'Kalam', cursive;
    font-size: 50px;
    color: white;
    text-transform: uppercase;
}
h3{
    text-align: center;
    padding-top: 10px;
    font-family: 'Satisfy',cursive;
    font-size: 30px;
}
#container{
    width: 50%;
    margin: auto;
    padding-top:10px ;
    background-color: none;
    padding-bottom: 50px;
}
form{
    font-size: 20px;
    padding: 10px;
    font-family: 'Sriracha',cu  rsive;
}
label{
    opacity: 1;
}
button{
    border: none;
    background-color: rgba(8, 92, 92, 0.322) ; 
    color:white;
    font-size: 20px;
    font-family: 'Sriracha',cursive;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}
#status{
    opacity: 0.7;
}
