.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .border {
    box-sizing: border-box;
  }
  .container h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(250, 220, 215);
    
    border: none;
    color: black;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 2px;
    cursor: pointer;
    
    
  }
  .container1 {

    clear: both;
    text-align: center;
    background-color: rgb(248, 126, 126);

  }
  .container2{
    clear: both;
    text-align: center;
    background-color: rgb(231, 225, 226);
    
  }
  .container3{
    width: 30%;
    padding: 20px;
    float: left;
    text-align: center;
    background-color: rgb(248, 126, 126);
    
    
  }
  .container3_1{
    width: 30%;
    padding: 20px;
    float: left;
    text-align: center;
    background-color: rgb(231, 225, 226);
    
    
  }
