*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#canvas {
    margin-top: 20px;
    /* background-color: rgb(35, 94, 145); */
   
    border-radius: 10px;
}
#source{
    display: none;
}