/* ------------Initial Phase CSS--------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: linear-gradient(120deg, skyblue, blue);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
  }
  header,
  form {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header {
    font-size: 40px;
  }
  
  form input,
  form button {
    padding: 10px;
    border: none;
    font-size: 24px;
    background: white;
    outline: none;
  }
  form button {
    color: blue;
    background-color: white;
    cursor: pointer;
  }
  form button:hover {
    color: white;
    background-color: skyblue;
  }
  
  /* ----------------New List Container----------------- */
  

  .todo-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    list-style: none;
    min-width:25%;
}
.tododiv
{
    background-color: white;
    font-size: 24px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.tododiv li{
    flex: 1;
}
.tododiv_check{
    color: white;
    background-color: teal;
    border: none;
    padding: 16px;
    outline: none;
    font-size: 16px;
}
.tododiv_end{
    color: white;
    background-color: red;
    border: none;
    padding: 16px;
    outline: none;
    font-size: 16px;
}
.tododiv_item
{
    margin: 0px 10px;
}

.fa
{
    pointer-events: none;
}
.done{
    text-decoration: line-through;
    opacity: .5;
}